body {
  background-color: #000;
  color: white;
}

.my-nav {
  z-index: 2000;
  width: 100%;
}
.carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
}

.color-card {
    background-color: #17a2b8;
}
